* { /* header e barra de navegação*/
  font-family:Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
 
  margin: 0;
  padding: 0;
 /* background: linear-gradient(to bottom,#f0eeee ,#c5b97d); testando cor de fundo body*/
  background-color: #f0eeee;
}

header {
  background-color: #ffe082;
  padding: 10px 0;
  
}



.header .nav-item:hover {
  border-bottom: 2px solid #747263;
  color: #808080;
  margin-left: 10px;
  text-decoration: none;
}



nav {
  background: linear-gradient( to right,#fff8b1 , #ffd700  ); 
  padding: 10px 0; 
  
}

nav ul  {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content:flex-end; 
}

nav ul a  {
  text-decoration: none; 
  color: #000000; 
  font-weight: bold; 
  margin-right: 20px; 
}





  /* css footer definitivo*/
.rodape {
  background-color: #FFD700;
  padding: 5px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #fff8b1, #ffd700);
  width: 100%;
  justify-content: center;
  text-align: center;
}

.logo-RS img {
  width: 70px;
  height: 70px;
  justify-content:flex-start;
  display: flex;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav ul li {
  margin-right: 20px;
}

.icones-sociais a {
  margin: 0 10px;
  
}

.icones-sociais img {
  width: 30px;
  height: 30px;
 

 
 
}

.direitos {
  color: black;
  text-align: center;
  font-size: 14px;
}



.nav-icone{
  display:flex;
  justify-content: center;
  
}
.rodape .nav {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  
}

.rodape nav {
  margin-bottom: 16px;
 display: flex;
 justify-content: center;
  padding:0px;
}
.nav-rodape:hover{
  border-bottom: 2px solid #747263;
  color: #808080;
  margin-left: 10px;
  text-decoration: none;

}
