* { 
  font-family:Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff3d0;
}

header {
   
  padding: 10px 0;
  position: relative;
  background: #ffe082;
  margin-top: .2rem;
}

.header .nav-item:hover {
  border-bottom: 2px solid #747263;
  color: #808080;
  margin-left: 10px;
  text-decoration: none;
}

nav {
  background: linear-gradient( to right,#fff8b1 , #FFA000  ); 
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  margin-top: 1.5px;
}


.links { 
  text-decoration: none;
  margin-left: .4rem;
  color: #333;
  font-weight: bold;
  padding: .4rem;
  
}

.links:hover {
  border: #eee9b7;
  background: #eee9b7;
  transition: .5s;
  border-radius: 5px;
}

.container-image {
  position: relative;
  top:200%; 
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  margin-bottom:0px;
  height:300px;
  max-width: 100%;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logo {
  margin-left:50px;
  margin-top:15px;
  justify-content:flex-start;
  width:80px;
  height: 80px;
}

.blog{
   font-size:20px;
    text-align: left;
    height: 10px;
    margin-left:44px;
    margin-top:30px;
    font-weight: bold;
    top:-50,0;
  
}
.entry-buttons {
  display: flex;
  justify-content: flex-end; 
  padding: 10px;
}

.new-entry-button,
.edit-button {
  padding: 5px 10px;
  background-color: lightyellow;
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-entry {
  background-color: lightyellow;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}


  /* aqui está o footer*/
  .footerMissaoVisaoValores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to right, #fff8b1, #FFA000);
    gap: 10px;
    padding: 5px;
}

#logoProjetoFooter {
    height: 50px;
    margin-top: 5px;
}

.redeSociais {
    height: 25px;
    margin-left: .5rem;
    
}

.redeSociais:hover {
    background:#ffffff;
    border-radius: 30px;
    transition: .3s;
}


#copyright {
    margin-top: -.5%;
}