* {
    font-family:Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color: #f8f3b9;
 }
/* todo e qualquer outro link associado como o whatsapp */
.a-href {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fff8b1;
    border-radius: 10px;
    width: 12rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: black;
    gap: 5px;
    font-weight: 700;
    font-family:Arial, sans-serif;
}

.a-href:hover {
    background: #ffffff;
    transition: .5s;
    border-radius: 15px;
}

.navgation {
    background: linear-gradient( to right,#fff8b1 , #ffd700);
    padding: 1rem;
    
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* refere-se aos href do navgation e parte do footer*/
.links { 
    text-decoration: none;
    margin-left: .4rem;
    color: #333;
    font-weight: bold;
    padding: .4rem;
    font-family:Arial, sans-serif;
}

.links:hover {
    border: #eee9b7;
    background: #eee9b7;
    transition: .5s;
    border-radius: 5px;
}

/* logo do topo */
.logo-projeto-RS {
    height: 100px;
    padding: .5rem;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;   
}


/* configuração do header */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
    background: #ffe96f;
    margin-top: .1rem;

}


.text-container {
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 50%;
}

.text-container h1 {
    margin: 10px;
    font-size: 2em;
}

.text-container p {
    margin: 10px;
    font-size: 1.2em;
}

.container-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.6;
}

header {
    background: #fac000;
}

/* definição padrão para o tamanho de todas as logos do whatsapp */
.logo-whatsapp {
    height: 30px;
}

/* css do resumo de atendimento */
.resumo-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.resumo-atendimento {
    background-color: #fdda3f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}


.resumo-atendimento:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.resumo-atendimento h2 {
    font-size: 2rem;
    margin: 0;
    color: #333;
    transform: scale(1.2);
}


.resumo-atendimento h3 {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
    color: #777; 
}

.section-desabafar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.desabafar {
    background-color: #fdda3f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#a-href {
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #fff8b1;
    border-radius: 15px;
    justify-content: center;
    width: 13rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: black;
    gap: 5px;
    font-weight: 700;
    translate: 220%;
}

#a-href:hover {
    border: #eee9b7;
    background: #ffffff;
    transition: .5s;
    border-radius: 15px;
}

#logo-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#img-dialogo {
    height: 15rem;
    display: flex;
    padding: 3rem;
    transition: transform 0.5s ease;
    translate: 180%;
}

#img-dialogo:hover {
    transform: scale(1.2);
    border-radius: 15px;
}

.text-desabafar {
    margin-left: 10%;
}


.img-apoio {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.img-icon-message {
    height: 12rem;
    margin-left: 1rem;
}

.img-maos-dadas {
    height: 30rem;
    opacity: 0.6;
    margin-left: 15%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.estatistica {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: .5rem;
    background:#ffe96f;
}


#a-href-estatistica {
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #fff8b1;
    border-radius: 15px;
    justify-content: center;
    width: 12rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: black;
    gap: 5px;
    font-weight: 700;
    margin-bottom: .5rem;
}

#a-href-estatistica:hover {
    border: #eee9b7;
    background: #ffffff;
    transition: .5s;
    border-radius: 15px;
}

#logo-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.numeros-tentativas {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.numeros-tentativas01 {
    background-color: #fdda3f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.numeros-tentativas01 p {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.numeros-tentativas01 h2 {
    font-size: 2rem;
    margin: 0;
    color: #333;
}

.container-solidario {
    display: grid;
    grid-auto-columns: 2;
    justify-items: center;
    align-content: space-around;
}


.tam-img-solidario {
    height: 25rem;

}

.tam-img-solidario01 {
    height: 25rem;
    
}
.container-solidario {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: flex-start; 
    width: 500px; 
    margin-left: auto; 
   margin-right:85px;
}

.tam-img-solidario,
.tam-img-solidario01 {
    width: 200px; 
   height: auto;
    margin: 5px;
}
.titulo-quemSomos-RefugioSolidario{
  font-size:20px;
  text-align: left;
  height: 10px;
  margin-left: 85px;
  margin-top:30px;
  font-weight: bold;
}


.paragrafo-solidario{
    font-size:16px;
    text-align: left;
    height: 10px;
    margin-left: 85px;
    margin-top:100px;
    padding-right:55%;
}

.equipe{
    font-size:  26px;
    text-align: center; 
    margin-top:20px;
    
    display: flex;
    align-items: center;
   
    justify-content: center;
    
    
}
.voluntariado{

    font-size:  26px;
    text-align: center; 
    margin-top:20px;
    
    display: flex;
    align-items: center;
   
    justify-content: center;
  }
.paragrafo-voluntario{
    font-size:  16px;
    text-align: center; 
    margin-top:20px;
    
    display: flex;
    align-items: center;
   
    justify-content: center;
}
/* section do ajuda*/

.div-ajuda{
    background: linear-gradient( to left,#eee9b7 , #ffd700);
    padding:1rem;
    margin-bottom:40px;
    margin-top: 80px;
  
    }
    
    
  .paragrafo-ajuda{
    font-size: 16px;
    text-align: left;
    height: 10px;
    margin-left: 85px;
    margin-top:55px;
    font-weight: bold;
  }
  
  .titulo-ajuda{
    font-size:20px;
    text-align: left;
    height: 10px;
    margin-left: 85px;
    margin-top:30px;
    font-weight: bold;
  
  }
  
  .texto-ajuda{
    font-size:16px;
    text-align: left;
    height: 10px;
    margin-left: 85px;
    margin-top:35px;
    padding-right:55%;
    
  
  
  }
  .imagem-whatsapp{
  
    margin-left: 85px;
    margin-top: 55px;
   
    
  }
  
  #ajuda {
    position:relative;
    margin-bottom:0px;
    padding: 0;
    margin-top: auto;
  
  
  }
  
  

  .img-pessoas-ajuda {
      position: absolute;
      top:55%; 
      right:0;
      transform: translateY(-50%);
      z-index: 1;
      height:250px;
      max-width: 100%;
    }
    

/* CSS - footer */
.footer-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to left,#eee9b7 , #ffd700);
    gap: 10px;
    padding: 5px;
}


#logoProjetoFooter {
    height: 50px;
    margin-top: 5px;
}


.redeSociais {
    height: 25px;
    margin-left: .5rem;
}


.redeSociais:hover {
    background:#ffffff;
    border-radius: 30px;
    transition: .3s;   
}

#copyright {
    margin-top: -.5%;
}